.header-container{
    display: flex;
    justify-content: space-around;
    background-color: rgb(226, 171, 171);
    width: 100%;
}
.link-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container a{
    text-decoration: none;
    margin: 10px;
    padding: 10px;
}
.header-container button{
    border: none;
    background-color:rgb(226, 171, 171); ;
}